:root {
  --primary-text-color: #2f303a;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-position:#ffffff ;
  --transparent-text:#757575;
  --baground-comands:#F5F4FA;



  --items: 3 4;
  --indent: 30px;
}


body {
  background-color: var(--background-position);
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em; 
}

.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*сітка flex-box */
.card-set{
  display:flex;
  flex-wrap:wrap;
  /* padding-top: 50px; */
  margin: calc(-1 * var(--indent) / 2); 
  
}

.card-set-item{ 
margin: calc(var(--indent) / 2); 
flex-basis:calc((100% - var(--indent) *  var(--items)) / var(--items)) ;
}

.section{
  padding-top:94px;
  padding-bottom:94px;
  
}

li {
  list-style-type: none;
}

.link,
.list {
  list-style: none;
  text-decoration: none;
}
.list {
   padding: 0;

}

/* header-list */

.header-list { 
    background-color: #fff;
    border: 1px solid #ECECEC;
    
}
.header-container {
  display: flex;
  align-items: center;
  
}


.header-logo { 
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--accent-color);
    margin-right: 93px;

}

.logo-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
  
}
.part-logo-white {
  color:var(--background-position);
}
.part-logo-black {
  color:var(--title-text-color);
}
/* Шапка */

.site-nav {
  display: flex;
  align-items: center;
  flex-direction: row;

}
/* .site-nav-item:not(:last-child) {
  margin-top: 25px;
} */
.site-nav .current {
  color: var(--accent-color)
 
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;  
  margin-right: 50px;
}


.site-nav .link {
  font-family: Roboto;
  font-weight: 500;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .current {
  color: var(--accent-color);
}

.cont {
  display: flex;
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-direction: row;

}
.header-cont{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 30px;
   
}


.cont .link {
  font-family: Roboto;
  color: var(--transparent-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

.cont .link:hover,
.cont .link:focus {
  color: var(--accent-color);
}

             /* Main */
.decision {
  background: var(--primary-text-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

 
}

.decision-container{
  display: block; 
  
}

.container .decision-bg{
 width: 696px;

}

.decision-bg {
  word-wrap:normal;
  color: var(--background-position);
  font-family: Roboto;
  font-size: 44px;
  line-height: 1.4;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
 
}

                 /* Button */
.button-dec {
  font-family: Roboto;
  margin-top: 30px;
  color: var(--background-position);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
  background: var(--accent-color);
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  letter-spacing:0.06em ;
  border: none;
 
}


.features-grup {
  columns: 4;
  
}

.text {
  color: var(--transparent-text);
  font-style: normal;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.2;
  
  

}

.text-li{
  width:270px;
}
.grup-text{
  display: block;
  margin-top: 10px;
  line-height: 24px
  
  
}
.section-title {
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}


/* Product */
.product-second {
  text-align: center;
}

.product-second,
.comands-second {
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 50px;
  
}
.comands{
  background-color:var(--baground-comands);
}

.comands-title {
  display: block;
  margin-bottom: 10px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-top: 30px;

}

.comands-about-item{
  width: 270px;
  height: 368px; 
  margin-left: 0;
  background:var(--background-position);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.text-com {
  color: var(--transparent-text);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 30px;
}


            /* Footer */
.contact {
  background-color: var(--primary-text-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.adress {
  color: var(--background-position);
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.77;
  font-style: normal;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}

.adress .link:hover,
.adress .link:focus {
  color: var(--accent-color);
}


.contact-link {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px; 
}
.contact-link:last-child {
  margin-bottom: 0;
}

.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);  
}

.footer-container{
  display: block;
}
.footer-list{
  margin-top: 20px;
}
             /* Portfolio */


.button-primary {
  font-family: Roboto;
  color: var(--title-text-color);
  background: var(--baground-comands);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;
  margin-right: 8px;
  border-radius: 4px;
  border: none;
  display: inline-block;
  padding: 6px 22px;
}

.button-primary:hover,
.button-primary:focus {
  background: var(--accent-color);
  color: var(--background-position);
}
.button-container { 
  display: flex;
  justify-content:center;
  padding-bottom: 50px;
 
}
.portfolio-text {
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-work {
  color: var(--transparent-text);
  font-family:Roboto;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  margin-top:4px;
}
.portfolio-text-work { 
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}